exclude: |
    (?x)
    ^src/pip_deepfreeze/env-info-json.py|
    ^src/pip_deepfreeze/pip-list-json.py|
    ^src/pip_deepfreeze/req_file_parser.py|
    ^tests/conftest.py|
    ^tests/test_pip_list_json.py
default_language_version:
  python: python3
repos:
  - repo: https://github.com/psf/black
    rev: 23.9.1
    hooks:
      - id: black
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.5.1
    hooks:
      - id: mypy
        args: ["--strict"]
        exclude: '^(docs|tasks|tests)|setup\.py'
        additional_dependencies: ["httpx", "packaging", "typer>=0.3.2"]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.0.292
    hooks:
      - id: ruff
