exclude: |
    (?x)
    ^src/pip_deepfreeze/env_info_json.py|
    ^src/pip_deepfreeze/pip_list_json.py|
    ^src/pip_deepfreeze/req_file_parser.py|
    ^tests/conftest.py|
    ^tests/test_pip_list_json.py
default_language_version:
  python: python3
repos:
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.2.0
    hooks:
      - id: mypy
        args: ["--strict"]
        exclude: '^(docs|tasks|tests)|setup\.py'
        additional_dependencies: ["httpx", "packaging", "typer>=0.3.2", "types-toml", "types-setuptools"]
  - repo: https://github.com/PyCQA/flake8
    rev: "6.0.0"
    hooks:
      - id: flake8
        additional_dependencies: ["flake8-bugbear==23.1.20"]
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/PyCQA/docformatter
    rev: v1.6.0
    hooks:
      - id: docformatter
        args: ["--in-place", "--wrap-summaries=88"]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.1
    hooks:
      - id: pyupgrade
        args: ["--py36-plus"]
