default_language_version:
  python: python3
repos:
  - repo: https://github.com/psf/black
    rev: 19.10b0
    hooks:
      - id: black
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.1.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.782
    hooks:
      - id: mypy
        args: ["--strict", "--implicit-reexport"]
        exclude: '^(docs|tasks|tests)|setup\.py'
        additional_dependencies: ["httpx", "packaging", "typer"]
  - repo: https://gitlab.com/PyCQA/flake8
    rev: "3.8.3"
    hooks:
      - id: flake8
        additional_dependencies: ["flake8-bugbear==20.1.4"]
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.0.7
    hooks:
      - id: isort
  - repo: https://github.com/myint/docformatter
    rev: v1.3.1
    hooks:
      - id: docformatter
        args: ["--in-place", "--wrap-summaries=88"]
