name: CI

on:
  pull_request:
  push:
    branches:
      - master
    tags:
      - "*"

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: "Test with python ${{ matrix.python-version }} on ${{ matrix.os }}"
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          # windows
          - os: "windows-latest"
            python-version: "2.7"
          - os: "windows-latest"
            python-version: "3.6"
          - os: "windows-latest"
            python-version: "3.7"
          - os: "windows-latest"
            python-version: "3.11"
          # macos
          - os: "macos-latest"
            python-version: "2.7"
          - os: "macos-latest"
            python-version: "3.6"
          - os: "macos-latest"
            python-version: "3.7"
          - os: "macos-latest"
            python-version: "3.11"
          # ubuntu
          - os: ubuntu-20.04
            python-version: "2.7"
          - os: ubuntu-20.04
            python-version: "3.6"
          - os: ubuntu-latest
            python-version: "3.7"
          - os: ubuntu-latest
            python-version: "3.8"
          - os: ubuntu-latest
            python-version: "3.9"
          - os: ubuntu-latest
            python-version: "3.10"
          - os: ubuntu-latest
            python-version: "3.11"
    steps:
      - uses: "actions/checkout@v3"
      - uses: "actions/setup-python@v4"
        with:
          python-version: "${{ matrix.python-version }}"
      - name: "Install dependencies"
        run: |
          python -VV
          python -m site
          python -m pip install -U pip setuptools wheel virtualenv tox tox-gh-actions
      - name: "Run tox targets for ${{ matrix.python-version }}"
        run: "python -m tox"
      - name: "Codecov"
        run: |
          python -m pip install codecov
          codecov --token ${{ secrets.CODECOV_TOKEN }}
